# Workflow derived from https://github.com/r-lib/actions/tree/v2/examples
# Need help debugging build failures? Start at https://github.com/r-lib/actions#where-to-find-help
on:
  push:
    branches: [main, master]
  pull_request:
    branches: [main, master]
  workflow_dispatch:

name: R-CMD-check

permissions:
  contents: read
  pull-requests: read

jobs:
  R-CMD-check:

    strategy:
      fail-fast: false
      matrix:
        config:
          - { os: ubuntu-latest, r: 'release' }
          - { os: ubuntu-latest, r: 'oldrel-1' }
          - { os: macos-latest, r: 'release' }

    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} (${{ matrix.config.r }})
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}
      R_KEEP_PKG_SOURCE: yes

    steps:
      - uses: actions/checkout@v4

      - uses: CCBR/actions/install-r-pak@main
        with:
          versions-file: .github/package-versions.txt
          extra-packages: local::.
          needs: dev
          r-version: ${{ matrix.config.r }}
          http-user-agent: ${{ matrix.config.http-user-agent }}

      - uses: r-lib/actions/check-r-package@v2
        with:
          upload-snapshots: true

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: CCBR/actions/install-r-pak@main
        with:
          r-version: 4.4
          versions-file: .github/package-versions.txt
          needs: dev

      - name: Good Practice checks
        shell: Rscript {0}
        run: |
          g <- goodpractice::gp()
          g
          n_failed <- length(goodpractice::failed_checks(g))
          if (n_failed > 0) {
            warning(paste(n_failed, "failed checks"))
          }

      - name: Lint
        shell: Rscript {0}
        run: lintr::lint_package()
        env:
          LINTR_ERROR_ON_LINT: false

  test-coverage:
    runs-on: ubuntu-latest
    env:
      GITHUB_PAT: ${{ secrets.GITHUB_TOKEN }}

    steps:
      - uses: actions/checkout@v4

      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          needs: dev

      - name: Test coverage
        run: |
          cov <- covr::package_coverage(
            quiet = FALSE,
            clean = FALSE,
            install_path = file.path(normalizePath(Sys.getenv("RUNNER_TEMP"), winslash = "/"), "package")
          )
          covr::to_cobertura(cov)
        shell: Rscript {0}

      - uses: codecov/codecov-action@v4
        with:
          fail_ci_if_error: ${{ github.event_name != 'pull_request' && true || false }}
          file: ./cobertura.xml
          plugin: noop
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Show testthat output
        if: always()
        run: |
          ## --------------------------------------------------------------------
          find '${{ runner.temp }}/package' -name 'testthat.Rout*' -exec cat '{}' \; || true
        shell: bash

      - name: Upload test results
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: coverage-test-failures
          path: ${{ runner.temp }}/package

  check: # make sure all check jobs pass. https://github.com/orgs/community/discussions/4324#discussioncomment-3477871
    runs-on: ubuntu-latest
    needs: [R-CMD-check, lint, test-coverage]
    if: always()
    steps:
      - name: Successful build
        if: ${{ !(contains(needs.*.result, 'failure')) }}
        run: exit 0
      - name: Failing build
        if: ${{ contains(needs.*.result, 'failure') }}
        run: exit 1
